<div class="wrapper">
    <div class="img-text-container">
  <div class="text-container">
  <div>
    <h2>Willkommen zu deinem persönlichen Hautfragebogen</h2>
    <h3></h3>
  </div>

  <div>
    <p>Beantworte die folgenden Fragen ehrlich, um deinen Hauttyp besser kennenzulernen. In nur wenigen Klicks analysieren wir deine Antworten und geben dir eine erste Einschätzung deiner Hautbedürfnisse. Anschließend kannst du mit einer Kamera-Analyse deine Haut noch präziser untersuchen lassen und passende Pflegeprodukte entdecken.</p>
  </div>

</div>
<div class="img-box">
   <img src="assets/images/hauttype.png" alt="">

</div>
</div>
<div class="wrapper_text">
  <p>Dauer: ca. 2 MinutenHinweis: Es gibt keine falschen Antworten – deine Haut ist einzigartig.</p>
  <p>Los geht’s!Wähle für jede Frage die Antwort aus, die am besten auf dich zutrifft.</p>
</div>
<app-quiz-questions></app-quiz-questions>
</div>
