.product-conteneur {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  margin: auto;
}

.product {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 1.5rem;
}

.product:last-child {
  border-bottom: none;
}

.product-image {
  flex: 0 0 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-info h3 {
  font-size: 1.25rem;
  color: #222;
  font-weight: 600;
  word-break:break-word;
}

.product-info p {
  font-size: 1rem;
  color: #555;
  font-weight: 500;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.quantity-controls button {
  width: 32px;
  height: 32px;
  font-size: 1.2rem;
  border: none;
  border-radius: 6px;
  background-color: #f2f2f2;
  cursor: pointer;
  font-weight: bold;
}

.quantity-controls button:hover {
  background-color: #ee046c;
  color: white;
}

.quantity-controls span {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  min-width: 20px;
  text-align: center;
}

.product-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  min-width: 100px;
}

.product-price p {
  font-size: 1rem;
  font-weight: 600;
  color: #222;
}

.remove-btn  {
  font-size: 30px;
  transition: all 0.5s ease-in-out;
}

.remove-btn:hover {
  color: rgb(210, 66, 66);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .product {
    flex-direction: column;
    align-items: center;
  }

  .product-image,
  .product-price {
    align-self: center;
  }

  .product-info {
    align-items: center;
    text-align: center;
  }

  .product-price {
    align-items: center;
  }
}
