<div id="footer">
    <div id="footer-top">
      <div id="logo-container">
        <div id="logo">Davina</div>
        <div class="social-icons">
          <span>Follow us</span>
          <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
          <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" aria-label="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
      </div>

      <div id="link-container">
        <div class="linksblock">
          <div class="linksheader">Shop</div>
          <a href="#" class="footer-link">Products</a>
          <a href="#" class="footer-link">Collections</a>
          <a href="#" class="footer-link">Sale</a>
        </div>
        <div class="linksblock">
          <div class="linksheader">Help</div>
          <a href="#" class="footer-link">Contact</a>
          <a href="#" class="footer-link">Shipping</a>
          <a href="#" class="footer-link">Returns</a>
        </div>
        <div class="linksblock">
          <div class="linksheader">Company</div>
          <a href="#" class="footer-link">About</a>
          <a href="#" class="footer-link">Careers</a>
          <a href="#" class="footer-link">Press</a>
        </div>
      </div>
    </div>

  <div id="footer-bottom">
    <div>
      <span>Terms</span>
      <span>|</span>
      <span>Privacy</span>
      <span>|</span>
      <span>Cookies</span>
    </div>
    <div>&copy; 2024 DAVINA. All rights reserved.</div>
  </div>
</div>
